[Unit]
Description=tinydragon0 service
After=network.target rc.local.service

[Service]
Type=simple
#ExecStartPre=/bin/systemctl stop lightdm
ExecStart=/usr/bin/xinit -fullscreen +j +mb -fa monaco -fs 8 -fg white -bg black -e /bin/sh -c '/usr/bin/python3 /home/tinydragon0/tinydragon0.py -i wlan0 -p' -- -nocursor
Restart=on-success
RestartPreventExitStatus=SIGTERM SIGKILL
RestartSec=5

[Install]
WantedBy=multi-user.target